<header>
{% if header is defined %}
    {{header |raw}}
{% else %}
    <h1>{{title ?? "Cours Symfony"}}</h1>
{% endif %}
    <nav class="header-navigation">
        <a href="{{path('app_home')}}" class="{{app.current_route == 'app_home' ?'active':''}}">Accueil</a>
        <a href="" class="{{app.current_route == 'app_user_list' ?'active':''}}">Liste Utilisateur</a>
    </nav>
</header>